'menu': [
  {
    'label': 'View'
    'submenu': [
      {
        'label': 'Toggle Quick Palette'
        'command': 'quick-palette:toggle'
      }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Quick Palette',
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'quick-palette:toggle'
          }
        ]
      }
    ]
  }
]
