'.platform-darwin, .platform-darwin .quick-palette atom-text-editor':
  'cmd-shift-p': 'quick-palette:toggle'

'.platform-win32, .platform-win32 .quick-palette atom-text-editor':
  'ctrl-shift-p': 'quick-palette:toggle'

'.platform-linux, .platform-linux .quick-palette atom-text-editor':
  'ctrl-shift-p': 'quick-palette:toggle'
